# For complete reference see the docs for deye-inverter-mqtt:
# 1. https://github.com/kbialek/deye-inverter-mqtt/blob/main/README.md
# 2. https://github.com/kbialek/deye-inverter-mqtt/blob/main/config.env.example

DEYE_LOGGER_IP_ADDRESS=10.10.10.1
DEYE_LOGGER_PORT=8899
DEYE_LOGGER_PROTOCOL=tcp
DEYE_LOGGER_SERIAL_NUMBER=1234567890
DEYE_DATA_READ_INTERVAL=60
DEYE_PUBLISH_ON_CHANGE=false

MQTT_HOST=127.0.0.1

PLUGINS_DIR=plugins
PLUGINS_ENABLED=deye_plugin_prometheus
LOG_LEVEL=INFO
LOG_STREAM=STDOUT

DEYE_FEATURE_MQTT_PUBLISHER=false
DEYE_FEATURE_TIME_OF_USE=false
DEYE_FEATURE_ACTIVE_POWER_REGULATION=false
DEYE_FEATURE_SET_TIME=false
DEYE_FEATURE_SOLAR_SELL=false
DEYE_FEATURE_WORKMODE=false
DEYE_FEATURE_BATTERY_SETTINGS=false

DEYE_METRIC_GROUPS=deye_sg01hp3,deye_sg01hp3_battery,deye_sg01hp3_bms,deye_sg01hp3_ups,deye_sg01hp3_generator,settings,deye_sg01hp3_systemtime,deye_sg01hp3_settings

PLUGIN_PROMETHEUS_INVERTER_NAME=inverter01
PLUGIN_PROMETHEUS_LISTEN_ADDR=0.0.0.0
PLUGIN_PROMETHEUS_LISTEN_PORT=9010
